.TopSectionDown{
    margin-bottom: 55px;
}

.nav-logo{
    width:125px;
    height:75px;
}

.navbar{
    font-size: 16px;
    font-family: 'monospace',sans-serif;
    font-weight: 400;
    background-color: white !important;
    box-shadow: 0 0 8px 0 rgba(57,78,234,0.1);
}

.cart-btn{
    padding:  5px 15px 5px 15px;
    color: #FAFDFB;
    border-radius: 20px !important;
    border:0.5px solid #051b35;
    background: #051b35 !important;
}